.btn-up{
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 999;
    width:30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border:unset;
    color: white;
    border-radius: 10px;
    font-size: 20px;
   
}