<section class="pt-4">
    <div class="container my-4 ">
        <div class="row">
            <div class="col-md-8">
           
                    <owl-carousel-o [options]="customOptions">
                        <ng-template carouselSlide><img src="./assets/images/slider-image-1.jpeg" height="520"></ng-template>  
                        <ng-template carouselSlide><img src="./assets/images/slider-image-2.jpeg" height="520"></ng-template>  
                        <ng-template carouselSlide><img src="./assets/images/slider-image-3.jpeg" height="520"></ng-template>  
                    </owl-carousel-o>
                   

            </div>
            <div class="col-md-4">
                <img src="./assets/images/grocery-banner-2.jpeg" class="w-100 mb-3" height="250"/>
                <img src="./assets/images/grocery-banner.png" class="w-100" height="250"/>
            </div>
        </div>
    </div>
</section>
