<div class="container forget-psw  pt-5 min-vh-100  "  >
    <form [formGroup]="forgetPassword" (ngSubmit)="sendCode(forgetPassword)">
        <div class="row my-5">
         <div class="col-md-8 m-auto  ">
<div class="layer bg-light shadow p-5">
    
        <label for="user_email" class="fw-bold ">email</label>
        <input formControlName="email" type="email" id="user_email" class="form-control "/>
        <div *ngIf="forgetPassword.get('email')?.errors && forgetPassword.get('email')?.touched"> 

            <p class="text-danger" *ngIf="forgetPassword.get('email')?.getError('required')">required field</p>
            <p class="text-danger" *ngIf="forgetPassword.get('email')?.getError('email')"> invalid email format</p>
           
</div>
<p class="text-danger" >{{errorMsg}}</p>
          
<button  class="btn bg-main text-light my-2 ">Send Code</button>


         </div>
          
           
        </div>
    </div>
    </form>
</div>

<div class="container verify-code d-none " >
    <form [formGroup]="verifyCode" (ngSubmit)="verify(verifyCode)">
        <div class="row my-5">
         <div class="col-md-8 m-auto  ">
<div class="layer bg-light shadow p-5">
    <div class="form-group">
        <label for="">Code</label>
        <input formControlName="resetCode" type="text" class="form-control" name="" id="" aria-describedby="emailHelpId" placeholder="">
        <button  class="btn bg-main text-light my-2 ">verify</button>
        <p class="text-main">{{msgSu}}</p>
       </div>

</div>
         </div>
          
           
        </div>
    </form>
</div>
